# Project exclude paths
Cargo.lock
/target/
/.idea/.gitignore
/.idea/modules.xml
/.idea/MyCalculator.iml
/.idea/vcs.xml
/.idea/RustyCalc.iml
/.idea/workspace.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
